In [140]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [141]:
df = pd.read_csv('datasets/loan.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

### Features

| Feature | คำแปล / ความหมาย | คำอธิบายเพิ่มเติม |
|---------|-----------------|-----------------|
| **Loan_ID** | รหัสเงินกู้ | หมายเลขอ้างอิงเฉพาะของแต่ละรายการเงินกู้ ใช้เพื่อระบุตัวตนไม่ให้ซ้ำกัน |
| **Gender** | เพศของผู้กู้ | ระบุว่า “ชาย” หรือ “หญิง” |
| **Married** | สถานะการสมรส | บอกว่าผู้กู้ “แต่งงานแล้ว” หรือ “โสด” |
| **Dependents** | จำนวนสมาชิกในครอบครัวที่อยู่ในความดูแล | เช่น บุตร หรือผู้สูงอายุที่ต้องดูแล ระบุเป็นจำนวนคน |
| **Education** | ระดับการศึกษา | ระบุระดับวุฒิการศึกษาของผู้กู้ เช่น “Graduate” (จบปริญญา) หรือ “Not Graduate” (ยังไม่จบปริญญา) |
| **Self_Employed** | สถานะการทำงานอิสระ | บอกว่าผู้กู้เป็น “พนักงานประจำ” หรือ “ประกอบอาชีพอิสระ” |
| **ApplicantIncome** | รายได้ต่อเดือนของผู้กู้หลัก | รายได้เฉลี่ยต่อเดือนของผู้ยื่นกู้ (บาท หรือหน่วยเงินอื่น ๆ) |
| **CoapplicantIncome** | รายได้ต่อเดือนของผู้ร่วมกู้ | รายได้ของผู้ร่วมกู้ (เช่น คู่สมรส หรือญาติ) |
| **LoanAmount** | จำนวนเงินที่ขอกู้ | ระบุจำนวนเงินกู้ที่ผู้ยื่นขอ |
| **Loan_Amount_Term** | ระยะเวลาผ่อนชำระเงินกู้ (เป็นวัน) | เช่น 360 วัน หรือ 480 วัน หมายถึงระยะเวลาทั้งหมดที่ต้องชำระคืน |
| **Credit_History** | ประวัติการชำระหนี้ | ใช้ดูว่าผู้กู้เคยมีการชำระเงินกู้ตรงเวลาหรือไม่ (1 = มีประวัติชำระดี, 0 = ไม่มีประวัติหรือชำระไม่ดี) |
| **Property_Area** | พื้นที่ที่ตั้งทรัพย์สิน | เช่น “Urban” (ในเมือง), “Rural” (ชนบท), หรือ “Semiurban” (กึ่งเมือง) |
| **Loan_Status** | สถานะของเงินกู้ | แสดงผลการอนุมัติ เช่น “Y” = อนุมัติ, “N” = ไม่อนุมัติ |

### View Basic Info

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

### Is there any duplicates?

In [143]:
print(f"Dataset size before dropping {df.shape}")
df = df.drop_duplicates()
print(f"Dataset size after dropping {df.shape}")

Dataset size before dropping (614, 13)
Dataset size after dropping (614, 13)

In [144]:
df = df.drop("Loan_ID", axis=1)

### Check Features

In [145]:
for col in df.columns:
    print(f"Column: {col}")
    print(df[col].unique())
    print("-" * 30)

Column: Gender
['Male' 'Female' nan]
------------------------------
Column: Married
['No' 'Yes' nan]
------------------------------
Column: Dependents
['0' '1' '2' '3+' nan]
------------------------------
Column: Education
['Graduate' 'Not Graduate']
------------------------------
Column: Self_Employed
['No' 'Yes' nan]
------------------------------
Column: ApplicantIncome
[ 5849  4583  3000  2583  6000  5417  2333  3036  4006 12841  3200  2500
  3073  1853  1299  4950  3596  3510  4887  2600  7660  5955  3365  3717
  9560  2799  4226  1442  3750  4166  3167  4692  3500 12500  2275  1828
  3667  3748  3600  1800  2400  3941  4695  3410  5649  5821  2645  4000
  1928  3086  4230  4616 11500  2708  2132  3366  8080  3357  3029  2609
  4945  5726 10750  7100  4300  3208  1875  4755  5266  1000  3333  3846
  2395  1378  3988  2366  8566  5695  2958  6250  3273  4133  3620  6782
  2484  1977  4188  1759  4288  4843 13650  4652  3816  3052 11417  7333
  3800  2071  5316  2929  3572  7451  5050 14583  2214  5568 10408  5667
  2137  2957  3692 23803  3865 10513  6080 20166  2014  2718  3459  4895
  3316 14999  4200  5042  6950  2698 11757  2330 14866  1538 10000  4860
  6277  2577  9166  2281  3254 39999  9538  2980  1863  7933  3089  4167
  9323  3707  2439  2237  8000  1820 51763  3522  5708  4344  3497  2045
  5516  6400  1916  4600 33846  3625 39147  2178  2383   674  9328  4885
 12000  6033  3858  4191  3125  8333  1907  3416 11000  4923  3992  3917
  4408  3244  3975  2479  3418  3430  7787  5703  3173  3850   150  3727
  5000  4283  2221  4009  2971  7578  3250  4735  4758  2491  3716  3189
  3155  5500  5746  3463  3812  3315  5819  2510  2965  3406  6050  9703
  6608  2882  1809  1668  3427  2661 16250  3083  6045  5250 14683  4931
  6083  2060  3481  7200  5166  4095  4708  4333  2876  3237 11146  2833
  2620  3900  2750  3993  3103  4100  4053  3927  2301  1811 20667  3158
  3704  4124  9508  3075  4400  3153  4416  6875  4666  2875  1625  2000
  3762 20233  7667  2917  2927  2507  2473  3399  2058  3541  4342  3601
  3166 15000  8666  4917  5818  4384  2935 63337  9833  5503  1830  4160
  2647  2378  4554  2499  3523  6333  2625  9083  8750  2666  2423  3813
  3875  5167  4723  4750  3013  6822  6216  5124  6325 19730 15759  5185
  3062  2764  4817  4310  3069  5391  5941  7167  4566  2346  3010  5488
  9167  9504  1993  3100  3276  3180  3033  3902  1500  2889  2755  1963
  7441  4547  2167  2213  8300 81000  3867  6256  6096  2253  2149  2995
  1600  1025  3246  5829  2720  7250 14880  4606  5935  2920  2717  8624
  6500 12876  2425 10047  1926 10416  7142  3660  7901  4707 37719  3466
  3539  3340  2769  2309  1958  3948  2483  7085  3859  4301  3708  4354
  8334  2083  7740  3015  5191  2947 16692   210  3450  2653  4691  5532
 16525  6700  2873 16667  4350  3095 10833  3547 18333  2435  2699  5333
  3691 17263  3597  3326  4625  2895  6283   645  3159  4865  4050  3814
 20833  3583 13262  3598  6065  3283  2130  5815  2031  3074  4683  3400
  2192  5677  7948  4680 17500  3775  5285  2679  6783  4281  3588 11250
 18165  2550  6133  3617  6417  4608  2138  3652  2239  3017  2768  3358
  2526  2785  6633  2492  2454  3593  5468  2667 10139  3887  4180  3675
 19484  5923  5800  8799  4467  3417  5116 16666  6125  6406  3087  3229
  1782  3182  6540  1836  1880  2787  2297  2165  2726  9357 16120  3833
  6383  2987  9963  5780   416  2894  3676  3987  3232  2900  4106  8072
  7583]
------------------------------
Column: CoapplicantIncome
[0.00000000e+00 1.50800000e+03 2.35800000e+03 4.19600000e+03
 1.51600000e+03 2.50400000e+03 1.52600000e+03 1.09680000e+04
 7.00000000e+02 1.84000000e+03 8.10600000e+03 2.84000000e+03
 1.08600000e+03 3.50000000e+03 5.62500000e+03 1.91100000e+03
 1.91700000e+03 2.92500000e+03 2.25300000e+03 1.04000000e+03
 2.08300000e+03 3.36900000e+03 1.66700000e+03 3.00000000e+03
 2.06700000e+03 1.33000000e+03 1.45900000e+03 7.21000000e+03
 1.66800000e+03 1.21300000e+03 2.33600000e+03 3.44000000e+03
 2.27500000e+03 1.64400000e+03 1.16700000e+03 1.59100000e+03
 2.20000000e+03 2.25000000e+03 2.85900000e+03 3.79600000e+03
 3.44900000e+03 4.59500000e+03 2.25400000e+03 3.06600000e+03
 1.87500000e+03 1.77400000e+03 4.75000000e+03 3.02200000e+03
 4.00000000e+03 2.16600000e+03 1.88100000e+03 2.53100000e+03
 2.00000000e+03 2.11800000e+03 4.16700000e+03 2.90000000e+03
 5.65400000e+03 1.82000000e+03 2.30200000e+03 9.97000000e+02
 3.54100000e+03 3.26300000e+03 3.80600000e+03 3.58300000e+03
 7.54000000e+02 1.03000000e+03 1.12600000e+03 3.60000000e+03
 2.33300000e+03 4.11400000e+03 2.28300000e+03 1.39800000e+03
 2.14200000e+03 2.66700000e+03 8.98000000e+03 2.01400000e+03
 1.64000000e+03 3.85000000e+03 2.56900000e+03 1.92900000e+03
 7.75000000e+03 1.43000000e+03 2.03400000e+03 4.48600000e+03
 1.42500000e+03 1.66600000e+03 8.30000000e+02 3.75000000e+03
 1.04100000e+03 1.28000000e+03 1.44700000e+03 3.16600000e+03
 3.33300000e+03 1.76900000e+03 7.36000000e+02 1.96400000e+03
 1.61900000e+03 1.13000000e+04 1.45100000e+03 7.25000000e+03
 5.06300000e+03 2.13800000e+03 5.29600000e+03 2.58300000e+03
 2.36500000e+03 2.81600000e+03 2.50000000e+03 1.08300000e+03
 1.25000000e+03 3.02100000e+03 9.83000000e+02 1.80000000e+03
 1.77500000e+03 2.38300000e+03 1.71700000e+03 2.79100000e+03
 1.01000000e+03 1.69500000e+03 2.05400000e+03 2.59800000e+03
 1.77900000e+03 1.26000000e+03 5.00000000e+03 1.98300000e+03
 5.70100000e+03 1.30000000e+03 4.41700000e+03 4.33300000e+03
 1.84300000e+03 1.86800000e+03 3.89000000e+03 2.16700000e+03
 7.10100000e+03 2.10000000e+03 4.25000000e+03 2.20900000e+03
 3.44700000e+03 1.38700000e+03 1.81100000e+03 1.56000000e+03
 1.85700000e+03 2.22300000e+03 1.84200000e+03 3.27400000e+03
 2.42600000e+03 8.00000000e+02 9.85799988e+02 3.05300000e+03
 2.41600000e+03 3.33400000e+03 2.54100000e+03 2.93400000e+03
 1.75000000e+03 1.80300000e+03 1.86300000e+03 2.40500000e+03
 2.13400000e+03 1.89000000e+02 1.59000000e+03 2.98500000e+03
 4.98300000e+03 2.16000000e+03 2.45100000e+03 1.79300000e+03
 1.83300000e+03 4.49000000e+03 6.88000000e+02 4.60000000e+03
 1.58700000e+03 1.22900000e+03 2.33000000e+03 2.45800000e+03
 3.23000000e+03 2.16800000e+03 4.58300000e+03 6.25000000e+03
 5.05000000e+02 3.16700000e+03 3.66700000e+03 3.03300000e+03
 5.26600000e+03 7.87300000e+03 1.98700000e+03 9.23000000e+02
 4.99600000e+03 4.23200000e+03 1.60000000e+03 3.13600000e+03
 2.41700000e+03 2.11500000e+03 1.62500000e+03 1.40000000e+03
 4.84000000e+02 2.00000000e+04 2.40000000e+03 2.03300000e+03
 3.23700000e+03 2.77300000e+03 1.41700000e+03 1.71900000e+03
 4.30000000e+03 1.61200008e+01 2.34000000e+03 1.85100000e+03
 1.12500000e+03 5.06400000e+03 1.99300000e+03 8.33300000e+03
 1.21000000e+03 1.37600000e+03 1.71000000e+03 1.54200000e+03
 1.25500000e+03 1.45600000e+03 1.73300000e+03 2.46600000e+03
 4.08300000e+03 2.18800000e+03 1.66400000e+03 2.91700000e+03
 2.07900000e+03 1.50000000e+03 4.64800000e+03 1.01400000e+03
 1.87200000e+03 1.60300000e+03 3.15000000e+03 2.43600000e+03
 2.78500000e+03 1.13100000e+03 2.15700000e+03 9.13000000e+02
 1.70000000e+03 2.85700000e+03 4.41600000e+03 3.68300000e+03
 5.62400000e+03 5.30200000e+03 1.48300000e+03 6.66700000e+03
 3.01300000e+03 1.28700000e+03 2.00400000e+03 2.03500000e+03
 6.66600000e+03 3.66600000e+03 3.42800000e+03 1.63200000e+03
 1.91500000e+03 1.74200000e+03 1.42400000e+03 7.16600000e+03
 2.08700000e+03 1.30200000e+03 5.50000000e+03 2.04200000e+03
 3.90600000e+03 5.36000000e+02 2.84500000e+03 2.52400000e+03
 6.63000000e+02 1.95000000e+03 1.78300000e+03 2.01600000e+03
 2.37500000e+03 3.25000000e+03 4.26600000e+03 1.03200000e+03
 2.66900000e+03 2.30600000e+03 2.42000000e+02 2.06400000e+03
 4.61000000e+02 2.21000000e+03 2.73900000e+03 2.23200000e+03
 3.38370000e+04 1.52200000e+03 3.41600000e+03 3.30000000e+03
 1.00000000e+03 4.16670000e+04 2.79200000e+03 4.30100000e+03
 3.80000000e+03 1.41100000e+03 2.40000000e+02]
------------------------------
Column: LoanAmount
[ nan 128.  66. 120. 141. 267.  95. 158. 168. 349.  70. 109. 200. 114.
  17. 125. 100.  76. 133. 115. 104. 315. 116. 112. 151. 191. 122. 110.
  35. 201.  74. 106. 320. 144. 184.  80.  47.  75. 134.  96.  88.  44.
 286.  97. 135. 180.  99. 165. 258. 126. 312. 136. 172.  81. 187. 113.
 176. 130. 111. 167. 265.  50. 210. 175. 131. 188.  25. 137. 160. 225.
 216.  94. 139. 152. 118. 185. 154.  85. 259. 194.  93. 370. 182. 650.
 102. 290.  84. 242. 129.  30. 244. 600. 255.  98. 275. 121.  63. 700.
  87. 101. 495.  67.  73. 260. 108.  58.  48. 164. 170.  83.  90. 166.
 124.  55.  59. 127. 214. 240.  72.  60. 138.  42. 280. 140. 155. 123.
 279. 192. 304. 330. 150. 207. 436.  78.  54.  89. 143. 105. 132. 480.
  56. 159. 300. 376. 117.  71. 490. 173.  46. 228. 308. 236. 570. 380.
 296. 156. 103.  45.  65.  53. 360.  62. 218. 178. 239. 405. 148. 190.
 149. 153. 162. 230.  86. 234. 246. 500. 186. 119. 107. 209. 208. 243.
  40. 250. 311. 400. 161. 196. 324. 157. 145. 181.  26. 211.   9. 205.
  36.  61. 146. 292. 142. 350. 496. 253.]
------------------------------
Column: Loan_Amount_Term
[360. 120. 240.  nan 180.  60. 300. 480.  36.  84.  12.]
------------------------------
Column: Credit_History
[ 1.  0. nan]
------------------------------
Column: Property_Area
['Urban' 'Rural' 'Semiurban']
------------------------------
Column: Loan_Status
['Y' 'N']
------------------------------

In [146]:
df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [147]:
categorical_features = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Credit_History', 'Property_Area', 'Loan_Amount_Term', 'Loan_Status']
continuous_features = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount']

### What are missing columns?

In [148]:
def find_missing_columns(df, category_names, continuous_names):
    missing_cols = df.columns[df.isna().any()].tolist()
    
    result = {
        'category': [col for col in missing_cols if col in category_names],
        'continuous': [col for col in missing_cols if col in continuous_names]
    }
    return result

In [149]:
missing_list = find_missing_columns(df, categorical_features, continuous_features)
missing_list

{'category': ['Gender',
  'Married',
  'Dependents',
  'Self_Employed',
  'Loan_Amount_Term',
  'Credit_History'],
 'continuous': ['LoanAmount']}

In [150]:
missing_categorical = missing_list['category']
missing_continuous = missing_list['continuous']
print(missing_categorical)
print(missing_continuous)

['Gender', 'Married', 'Dependents', 'Self_Employed', 'Loan_Amount_Term', 'Credit_History']
['LoanAmount']

# Handling Missing Categorical Features by Mode

In [151]:
df[categorical_features].isna().sum()

Gender              13
Married              3
Dependents          15
Education            0
Self_Employed       32
Credit_History      50
Property_Area        0
Loan_Amount_Term    14
Loan_Status          0
dtype: int64

In [152]:
from sklearn.impute import SimpleImputer

In [153]:
cat_impulter = SimpleImputer(strategy='most_frequent', missing_values=np.nan)

In [154]:
df[missing_categorical] = cat_impulter.fit_transform(df[missing_categorical])

### Checking if any missing categorical data again

In [155]:
df[categorical_features].isna().sum()

Gender              0
Married             0
Dependents          0
Education           0
Self_Employed       0
Credit_History      0
Property_Area       0
Loan_Amount_Term    0
Loan_Status         0
dtype: int64

### Check missing columns value after fill

In [156]:
for col in missing_categorical:
    print(f"Column: {col}")
    print(df[col].unique())
    print("-" * 30)

Column: Gender
['Male' 'Female']
------------------------------
Column: Married
['No' 'Yes']
------------------------------
Column: Dependents
['0' '1' '2' '3+']
------------------------------
Column: Self_Employed
['No' 'Yes']
------------------------------
Column: Loan_Amount_Term
[360.0 120.0 240.0 180.0 60.0 300.0 480.0 36.0 84.0 12.0]
------------------------------
Column: Credit_History
[1.0 0.0]
------------------------------

# Handling Missing Continuous Features by Mean

In [157]:
df[continuous_features].isna().sum()

ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
dtype: int64

In [158]:
cont_impulter = SimpleImputer(strategy='mean', missing_values=np.nan)

In [159]:
df[missing_continuous] = cont_impulter.fit_transform(df[missing_continuous])

### Checking if any missing continuous data again

In [160]:
df[continuous_features].isna().sum()

ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
dtype: int64

### Check missing values after fill

In [161]:
for col in missing_continuous:
    print(f"Column: {col}")
    print(df[col].unique())
    print("-" * 30)

Column: LoanAmount
[146.41216216 128.          66.         120.         141.
 267.          95.         158.         168.         349.
  70.         109.         200.         114.          17.
 125.         100.          76.         133.         115.
 104.         315.         116.         112.         151.
 191.         122.         110.          35.         201.
  74.         106.         320.         144.         184.
  80.          47.          75.         134.          96.
  88.          44.         286.          97.         135.
 180.          99.         165.         258.         126.
 312.         136.         172.          81.         187.
 113.         176.         130.         111.         167.
 265.          50.         210.         175.         131.
 188.          25.         137.         160.         225.
 216.          94.         139.         152.         118.
 185.         154.          85.         259.         194.
  93.         370.         182.         650.         102.
 290.          84.         242.         129.          30.
 244.         600.         255.          98.         275.
 121.          63.         700.          87.         101.
 495.          67.          73.         260.         108.
  58.          48.         164.         170.          83.
  90.         166.         124.          55.          59.
 127.         214.         240.          72.          60.
 138.          42.         280.         140.         155.
 123.         279.         192.         304.         330.
 150.         207.         436.          78.          54.
  89.         143.         105.         132.         480.
  56.         159.         300.         376.         117.
  71.         490.         173.          46.         228.
 308.         236.         570.         380.         296.
 156.         103.          45.          65.          53.
 360.          62.         218.         178.         239.
 405.         148.         190.         149.         153.
 162.         230.          86.         234.         246.
 500.         186.         119.         107.         209.
 208.         243.          40.         250.         311.
 400.         161.         196.         324.         157.
 145.         181.          26.         211.           9.
 205.          36.          61.         146.         292.
 142.         350.         496.         253.        ]
------------------------------

## Check whole df info again

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    object
 1   Married            614 non-null    object
 2   Dependents         614 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      614 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         614 non-null    float64
 8   Loan_Amount_Term   614 non-null    object
 9   Credit_History     614 non-null    object
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 57.7+ KB

In [163]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

---

# Outlier Handling

### Interquartile Range

In [164]:
def cap_outliers_iqr(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    n_outliers = ((df[col] < lower_bound) | (df[col] > upper_bound)).sum()
    print(f"{col}: {n_outliers} outliers")

    df[col] = df[col].clip(lower=lower_bound, upper=upper_bound)

### Replacing Outlier with maximum cap

In [165]:
for col in continuous_features:
    cap_outliers_iqr(df, col)

ApplicantIncome: 50 outliers
CoapplicantIncome: 18 outliers
LoanAmount: 41 outliers

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    object
 1   Married            614 non-null    object
 2   Dependents         614 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      614 non-null    object
 5   ApplicantIncome    614 non-null    float64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         614 non-null    float64
 8   Loan_Amount_Term   614 non-null    object
 9   Credit_History     614 non-null    object
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
dtypes: float64(3), object(9)
memory usage: 57.7+ KB

---

## Scalier
will scale these columns
- ApplicantIncome
- CoapplicantIncome
- LoanAmount

In [167]:
from sklearn.preprocessing import StandardScaler

In [168]:
columns_to_scale = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount']

In [169]:
scaler = StandardScaler()
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

In [170]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,0.497164,-0.874587,0.150494,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,-0.013767,0.054395,-0.179896,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,-0.652632,-0.874587,-1.292433,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,-0.820924,0.578025,-0.323449,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,0.558104,-0.874587,0.053377,360.0,1.0,Urban,Y

---

## One-Hot Encoding

In [171]:
df_encoded = pd.get_dummies(df, columns=categorical_features)
df_encoded.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,...,Loan_Amount_Term_60.0,Loan_Amount_Term_84.0,Loan_Amount_Term_120.0,Loan_Amount_Term_180.0,Loan_Amount_Term_240.0,Loan_Amount_Term_300.0,Loan_Amount_Term_360.0,Loan_Amount_Term_480.0,Loan_Status_N,Loan_Status_Y
0,0.497164,-0.874587,0.150494,False,True,True,False,True,False,False,...,False,False,False,False,False,False,True,False,False,True
1,-0.013767,0.054395,-0.179896,False,True,False,True,False,True,False,...,False,False,False,False,False,False,True,False,True,False
2,-0.652632,-0.874587,-1.292433,False,True,False,True,True,False,False,...,False,False,False,False,False,False,True,False,False,True
3,-0.820924,0.578025,-0.323449,False,True,False,True,True,False,False,...,False,False,False,False,False,False,True,False,False,True
4,0.558104,-0.874587,0.053377,False,True,True,False,True,False,False,...,False,False,False,False,False,False,True,False,False,True

In [172]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ApplicantIncome          614 non-null    float64
 1   CoapplicantIncome        614 non-null    float64
 2   LoanAmount               614 non-null    float64
 3   Gender_Female            614 non-null    bool
 4   Gender_Male              614 non-null    bool
 5   Married_No               614 non-null    bool
 6   Married_Yes              614 non-null    bool
 7   Dependents_0             614 non-null    bool
 8   Dependents_1             614 non-null    bool
 9   Dependents_2             614 non-null    bool
 10  Dependents_3+            614 non-null    bool
 11  Education_Graduate       614 non-null    bool
 12  Education_Not Graduate   614 non-null    bool
 13  Self_Employed_No         614 non-null    bool
 14  Self_Employed_Yes        614 non-null    bool
 15  Credit_History_0.0       614 non-null    bool
 16  Credit_History_1.0       614 non-null    bool
 17  Property_Area_Rural      614 non-null    bool
 18  Property_Area_Semiurban  614 non-null    bool
 19  Property_Area_Urban      614 non-null    bool
 20  Loan_Amount_Term_12.0    614 non-null    bool
 21  Loan_Amount_Term_36.0    614 non-null    bool
 22  Loan_Amount_Term_60.0    614 non-null    bool
 23  Loan_Amount_Term_84.0    614 non-null    bool
 24  Loan_Amount_Term_120.0   614 non-null    bool
 25  Loan_Amount_Term_180.0   614 non-null    bool
 26  Loan_Amount_Term_240.0   614 non-null    bool
 27  Loan_Amount_Term_300.0   614 non-null    bool
 28  Loan_Amount_Term_360.0   614 non-null    bool
 29  Loan_Amount_Term_480.0   614 non-null    bool
 30  Loan_Status_N            614 non-null    bool
 31  Loan_Status_Y            614 non-null    bool
dtypes: bool(29), float64(3)
memory usage: 31.9 KB

# Save into new csv

In [173]:
df_encoded.to_csv("datasets/loan_encoded.csv", index=False)

### Also save the scaler

In [174]:
import joblib
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']